

@font-face {
  font-family: myFont;
  src: url(NB-International-Pro-Edition-OTF/NBInternationalProIta.otf);
}


html, body {
  margin: 0;
  padding-top: 20px;
  padding-left: 30px;
  font-family: myFont;

}
canvas {
  display: block;
}

a{
  color: black;
  text-decoration: none;
}

#mInfo{
  position: fixed;
  z-index: 1000;
}

nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

nav ul li{
  margin-bottom: 10px;
 
  }

  #homeimage {
    width: 400px; 
    height: auto; 
    display: block;
    margin: auto;
    position: absolute;
    top: 10%;
    left: 30%;
}

p{
  line-height: 1.5;
}
  
.centerText{
  margin: 0 auto;
  padding: 40px;
  padding-left: 300px;
  width: 50%;
  text-align: justify;
  position: absolute;
  
}

.date{
  margin-left: 350px;

}

.postImage{
  width: 700px;
  height: auto;
}

.filmlist{
  padding: 0;
  margin: 0;
  padding-left: 12px;
}

